@font-face {
  font-family: "England";
  src: url("../public/fonts/England.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

//Roboto
@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: lighter;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 700;
  font-style: bolder;
}

//Spectral
@font-face {
  font-family: "Spectral";
  src: url("../public/fonts/Spectral-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: lighter;
}

@font-face {
  font-family: "Spectral";
  src: url("../public/fonts/Spectral-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "Spectral";
  src: url("../public/fonts/Spectral-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Spectral";
  src: url("../public/fonts/Spectral-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: "Spectral";
  src: url("../public/fonts/Spectral-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bolder;
}

@font-face {
  font-family: "Italiana";
  src: url("../public/fonts/Italiana-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montsterrat";
  src: url("../public/fonts/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}
