//primary
//blue
$primary-b1: #02303b;
$primary-b2: #034959;
$primary-b3: #046176;
$primary-b4: #05768f;
$primary-b5: #3894a8;
$primary-b6: #6aaebe;
$primary-b7: #9cc8d3;
//green
$primary-g1: #005c1cff;
$primary-g2: #21773eff;
$primary-g3: #429261ff;
$primary-g4: #63ae83ff;
$primary-g5: #84c9a5ff;
$primary-g6: #a5e4c8ff;
$primary-g7: #c6ffeaff;
//red
$primary-r1: #c20000ff;
$primary-r2: #e15853ff;
$primary-r3: #ffb0a5ff;
//yellow
$primary-y1: #ffe500;
$primary-y2: #ffe923;
$primary-y3: #ffee45;
$primary-y4: #fff268;
$primary-y5: #fef68b;
$primary-y6: #fefbad;
$primary-y7: #feffe3;
//olive-green
$olive-green-0: #394734;
$olive-green-1: #52654aff;
$olive-green-2: #6e7e68ff;
$olive-green-3: #8b9785ff;
$olive-green-4: #a7b1a3ff;
$olive-green-5: #c3cac1ff;
//greyscale
$grey-b: #020303ff;
$grey-2: #2c2c2cff;
$grey-3: #555656ff;
$grey-4: #7f8080ff;
$grey-5: #a9a9a9ff;
$grey-6: #d2d3d3ff;
$grey-w: #fcfcfcff;
